/* Responsive styles
================================================== */
.footer-desc > .logo {
line-height: 29px;}

/* Large Devices, Wide Screens */
@media (min-width : 2100px) {

#i1 {
	width: 100%;
	}

.fixedG2,.fixedG,.fixedG3, .parllax1, .parallax5, .parallax3{
	background-size:100%;
	}



	.modal-dialog {
	height: 45%
	}

}


/* Medium Devices, Desktops */
@media (min-width : 992px) and (max-width: 1443px) {

.fixedG2,.fixedG,.fixedG3, .parallax1, .parallax5, .parallax3 {
	background-size:100%;
	}



.modal-dialog {
	height: 40%
	}
	
.navbar-brand > img {
	width: 38%;
	}
.navbar-nav {
	margin-right: 5px;
}
.navbar-nav > li> a {
    margin-right: -20px;
}
#tf-menu a.navbar-brand {
    font-size: 14px;
    bottom: 0px!important;
}
#tf-menu.navbar-default .navbar-nav > li > a {
    font-size: 11px
}


/*SLider
==========================================================*/
#slider{
	padding-top: 50;
	height: 850px;
}
.slider-content h5:after{
	/*left: 8px;*/
	right: 10px;
	
}
.slider-content h5:before{
	left: 10px;
}

/*PROFILE
============================================*/
#profile .socail-list li{
	padding: 0px;
}


}

/* Small Devices, Tablets */
@media (min-width : 769px) and (max-width: 991px) {

.col-md-5 > img {
margin-left: 150px;
}




.slider-content h2 {
    font-size: 35px;
    line-height: 30px;
}
.slider-content h3{
	font-size: 16px;
	line-height: 16px;
}


#footer {
	margin-top:185px;
	}
	
#i1{
	width: 60%;
	height:520px;
	
	}

.contact-info-inner {
	width: 40%;
	max-height: 600px !important;
}

.modal-dialog {
	height: 20%
	}

.navbar-brand > img {
	margin-top: -15px;
	width: 38%;
	}

/*MENU
======================================*/
#tf-menu.navbar-default {
    background-color: #FFF;
}
.navbar-nav {
	margin-right: 5px;
}
.navbar-nav > li> a {
    margin-right: -20px;
}
#tf-menu a.navbar-brand {
    font-size: 14px;
    bottom: 0px!important;
}
#tf-menu.navbar-default .navbar-nav > li > a {
    font-size: 12px
}

/*fixed nav
=============================*/
.on.navbar-default .navbar-brand {
    margin-left: -70px;
    font-size: 15px;
}


/*SLIDER
===========================*/

#slider{
	margin-top: 10px;
	height: 350px;
}
.slider-content {
	padding-bottom: 20px;
	top: 30%;
}
.slider-content h2 {
    font-size: 35px;
    line-height: 30px;
}
.slider-content h3{
	font-size: 16px;
	line-height: 16px;
}

.slider-small-text-content h4{
	font-size: 10px;
	line-height: 10px;
}

.slider-content h5 {
	width: 35%;
}
.slider-content a {
    color: #FFF;
    font-size: 20px;
    line-height: 25px;
    padding: 5px 10px;
    margin-bottom: 20px;
}	

.slider-content h5:before,.slider-content h5:after{
	display: none;
}

/*CAROUSEL CONTROLS
=================================*/
.carousel-control{
	top: 30%;
}
.carousel-control i {
    line-height: 36px;
    width: 35px;
    height: 35px;
    font-size: 20px
}
#main-slide:hover .carousel-control.left{
	left: 10px;
}
#main-slide:hover .carousel-control.right{
	right: 10px;
}



/*Title HEADING
============================*/
.big-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 50px;
    width: 50%;
    padding: 15px 0px;
}



/*SKILL bar
=====================================*/

#skill-bar .sub-heading h2 {
	font-size: 20px;
}
.circle,.circle1,.circle2,.circle3,.circle4,.circle5{
	margin: 0 auto;
}
.col2 {
    width: 45%;
    padding: 0px 0px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.skill-content {
    margin-left: 0px;
}




/*Feature
======================*/

#feature-tab .nav-tabs li{
	width: 50%;
}
#feature-tab .nav-tabs li a {
    border-radius: 0px;
    font-size: 16px;
    padding: 20px 0px;
}
.feature-icon {
	margin-right: 20px;
}
.feature-icon i {
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 62px;
}

.feature-content{
	margin-left: 88px;
}

.feature-desc {
    width: 50%;
    float: left;
}


/*TEAM members
===========================*/
.single-member{
	margin-bottom: 20px;
}


}

/* Small Devices Potrait */
@media (max-width : 768px){

.ask {
	height:310px;
	}

#i1 {
width: 50%;
margin-left:1px;
}

.contact-info-inner > h4 {
	font-size: 25px;
	}
.contact-info-inner > div > i  {
	font-size: 10px:
	}
.contact-info-inner > div >p  {
	font-size: 12px;
	margin-bottom: 4.6px !important;
	}


.contact-info-inner {
	width:50%;
	}

.col-md-5 > img {
margin-left: 150px;
}

.col-md-12 > .col-md-4 {
	left:13%;
	}

	.modal-dialog {
	height: 20%
	}
	
.slider-content h2 {
    font-size: 35px;
    line-height: 30px;
}
.slider-content h3{
	font-size: 16px;
	line-height: 16px;
}

}

/* Extra Small Devices, Phones */ 
@media (max-width : 300px) {
.modal-dialog {
	max-height: 500px;
	}
	
	.modal-dialog {
	height: 20%
	}

	
	
.col-lg-4 > iframe {
width:1%
}

.contact-info-inner {
	width: 100%;
	max-height: 600px !important;
}

.contact-info-inner i {
	font-size: 12px;
	}

#footer {
	margin-top: 90px;
	}

	.slider-content h2 {
    font-size: 35px;
    line-height: 30px;
}
.slider-content h3{
	font-size: 16px;
	line-height: 16px;
}

}
@media (min-width: 310px) and (max-width: 479px)  {

.fixedG2,.fixedG,.fixedG3, .parallax1 , .parallax5, .parallax3{
	background-size:100%;
	}

#process2 {
	    padding:30px 0px 10px;
}

#footer {
	margin-top: 350px;
	}

.contact-info-inner {
	width:100%;
	}
	



.ask {
	height:90px;
	}


.navbar-header > a  {
	height: 30px;
	}



.modal-dialog {
	height: 20%
	}
	
#about {
	margin-top: 25%;
	}
	
.navbar-brand > img {
	margin-top: -67px;
	width: 38%;
	}
	

.container-fluid > .col-md-12 {
    left: 30%;
    transform: translateX(-51%);
	}
	
	.row > .col-md-3 {
    left: 50%;
    transform: translateX(-51%);
	margin-top: 10px;
	}
	
	.col-md-4 > .blog-desc {
    left: 0px ;
	}
	.parallax-overlay2 {
	height : 100%;
	}
.col-md-5 > img {
	margin-left: 1%;
	}
/*MENU
======================================*/
#tf-menu.navbar-default {
    background-color: #FFF;
}
.on.navbar-default .navbar-brand {
    margin-left: -70px;
}

/*slider
===============================*/

#slider{
	margin-top: 120px;
	height: 190px !important;
	}
.slider-content {
	padding-bottom: 10px;
}
.slider-content h2 {
    font-size: 25px;
    line-height: 30px;
}
.slider-content h3{
	font-size: 16px;
	line-height: 16px;
}

.slider-small-text-content h4{
	font-size: 10px;
	line-height: 10px;
}

.slider-content h5 {
	width: 35%;
}
.slider-content a {
    color: #FFF;
    font-size: 20px;
    line-height: 25px;
    padding: 5px 10px;
    margin-bottom: 20px;
}	

.slider-content h5:before,.slider-content h5:after{
	display: none;
}
/*CAROUSEL CONTROLS
=================================*/
.carousel-control i {
    line-height: 36px;
    width: 35px;
    height: 35px;
    font-size: 20px
}
#main-slide:hover .carousel-control.left{
	left: 10px;
}
#main-slide:hover .carousel-control.right{
	right: 10px;
}



/*Title HEADING
============================*/
.big-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 50px;
    width: 50%;
    padding: 15px 0px;
}



/*SKILL bar
=====================================*/

#skill-bar .sub-heading h2 {
	font-size: 20px;
}
.col2 {
    width: 51%;
    padding: 0px 0px;
    margin-bottom: 10px;
}
.skill-content {
    margin-left: 35px;
}



/*Feature TAB
===================================*/
#feature-tab{}

#feature-tab .nav-tabs li{
	width: 50%;
}
#feature-tab .nav-tabs li a {
    border-radius: 0px;
    font-size: 16px;
    padding: 20px 0px;
}
.feature-icon {
	margin-right: 20px;
}
.feature-icon i {
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 62px;
}

.feature-content{
	margin-left: 88px;
}



/*PROCESSS section
=====================================*/

.single-process, .process-none {
    width: 48.5%;
    margin-bottom: 10px;
}
.process-timeline{
	display: none;
}
.process-icon:before{
	display: none;
}


/*BLOG SECTION
=========================================*/
.socail-list a i {
    font-size: 15px;
    width: 35px;
    height: 35px;
    padding: 9px 0px 0px 10px;
}

.blog-content h4.blog-title {
    margin-top: 10px;
}

/*BACK TO TOP
=======================*/
#back-to-top {
    right: 15px;
}

	}
/* Custom, iPhone Retina */ 
@media (min-width: 480px) and (max-width: 767px)  {
#footer {
	margin-top:325px;
	}
.ask {
	height:180px;
	}

.slider-content h2 {

    font-size: 35px;
    line-height: 30px;
}
.slider-content h3{
	font-size: 16px;
	line-height: 16px;
}



.navbar-brand > img {
	margin-top: -15px;
	width: 38%;
	}
/*MENU
======================================*/
#tf-menu.navbar-default {
    background-color: #FFF;
}
.on.navbar-default .navbar-brand {
    margin-left: -70px;
}

/*slider
===============================*/

#slider{
	margin-top: 60px;
	height: 260px;
}
.slider-content {
	padding-bottom: 20px;
}
	{
    font-size: 12px;
    line-height: 0px;
}
.slider-content h3{
	font-size: 14px;
	line-height: 16px;
}

.slider-small-text-content h4{
	font-size: 10px;
	line-height: 10px;
}

.slider-content h5 {
	width: 35%;
}
.slider-content a {
    color: #FFF;
    font-size: 20px;
    line-height: 25px;
    padding: 5px 10px;
    margin-bottom: 20px;
}	

.slider-content h5:before,.slider-content h5:after{
	display: none;
}

/*CAROUSEL CONTROLS
=================================*/
.carousel-control i {
    line-height: 36px;
    width: 35px;
    height: 35px;
    font-size: 20px
}
#main-slide:hover .carousel-control.left{
	left: 10px;
}
#main-slide:hover .carousel-control.right{
	right: 10px;
}



/*Title HEADING
============================*/
.big-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 50px;
    width: 50%;
    padding: 15px 0px;
}



/*SKILL bar
=====================================*/

#skill-bar .sub-heading h2 {
	font-size: 20px;
}
.col2 {
    width: 51%;
    padding: 0px 0px;
    margin-bottom: 10px;
}
.skill-content {
    margin-left: 35px;
}



/*Feature TAB
===================================*/
#feature-tab{}

#feature-tab .nav-tabs li{
	width: 50%;
}
#feature-tab .nav-tabs li a {
    border-radius: 0px;
    font-size: 16px;
    padding: 20px 0px;
}
.feature-icon {
	margin-right: 20px;
}
.feature-icon i {
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 62px;
}

.feature-content{
	margin-left: 88px;
}



/*PROCESSS section
=====================================*/

.single-process, .process-none {
    width: 48.5%;
    margin-bottom: 10px;
}
.process-timeline{
	display: none;
}
.process-icon:before{
	display: none;
}


/*BLOG SECTION
=========================================*/
.socail-list a i {
    font-size: 15px;
    width: 35px;
    height: 35px;
    padding: 9px 0px 0px 10px;
}

.blog-content h4.blog-title {
    margin-top: 10px;
}

/*BACK TO TOP
=======================*/
#back-to-top {
    right: 15px;
}


}